<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor = #a3cfb4>
<center>
    <h1 style="color:blue;">PREDICTION</h1>

    {%if data == 0%}
    <h1>ACOUSTIC</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\acoustic.jpg">
    {%endif%}
    {%if data == 1%}
    <h1>DANCE</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\dance.jpg">
    {%endif%}
    {%if data == 2%}
    <h1>DISCO</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\disco.jpg">
    {%endif%}
    {%if data == 3%}
    <h1>EDM</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\edm.jpg">
    {%endif%}
    {%if data == 4%}
    <h1>FOLK</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\folk.jpg">
    {%endif%}
    {%if data == 5%}
    <h1>KPOP</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\kpop.jpg">
    {%endif%}
    {%if data == 6%}
    <h1>VOCAL</h1>
    <a href='/'>Back to home page</a><br><br>
    <img src = "static\vocal.jpg">
    {%endif%}
    <br><br>

</center>
</body>
</html>